.layoutWrapper {
  border: 1px solid #e3e8eb;
  margin-bottom: 1.875rem;
  border-radius: 0;
  padding: 24px;
  min-height: 500px;
}

.loadingWrapper {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.changeAvatar {
  display: flex;
  align-items: center;
}

.profileImage {
  margin-right: 15px;
}

.profileImage img {
  border-radius: 4px;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.uploadImg {
}

.changePhotoBtn {
  margin: 0 0 10px;
  width: 150px;
  background-color: #1e88e5;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: 700;
  padding: 10px 15px;
  position: relative;
  transition: 0.3s;
  text-align: center;
}

.upload {
  bottom: 0;
  cursor: pointer;
  filter: alpha(opacity=0);
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.layoutWrapper input:focus {
  width: 100%;
  margin: 0;
  border-bottom: 0px solid red;
}

.sectionSubmit button {
  padding: 12px 30px;
  font-weight: 600;
  font-size: 16px;
  min-width: 120px;
}

.skillList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.skillItem {
  padding: 6px 20px 6px 16px;
  background-color: rgb(243, 244, 246);
  border-radius: 9999px;
  color: rgb(55, 65, 81);
  margin: 0 4px 8px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  position: relative;
}

.skillList a {
  color: rgb(51, 65, 85);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  position: relative;
  top: 7px;
}

.skillWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.inputFilter {
  font-size: 14px;
  line-height: 20px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid rgb(209, 213, 219);
  width: 100%;
  margin: 8px 0;
}

.inputFilter:focus {
  margin-left: auto;
  margin-right: auto;
  width: 100% !important;
  border: 1px solid rgb(209, 213, 219) !important;
  margin: 8px 0 !important;
}

.searchList {
  padding: 8px 0;
}

.searchItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.filterName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 8px;
  color: rgb(17, 24, 39);
  font-size: 14px;
  font-weight: 400;
}

.filterRemain {
  padding: 8px;
}

.customDeleteSkill {
  position: absolute !important;
  top: -7px;
  right: -3px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.customDeleteSkill svg {
  width: 18px;
  height: 18px;
}

.customDeleteSkill:hover {
  background-color: rgb(229, 231, 235);
}
